body{
    background: var(--background);
}
.details{
    background: var(--tarefas);
    border-radius: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
    height: 53rem;
    width:115rem;
    position:absolute
}

.content{
   
    background:var(--fundo-quadro);
    border-radius:2rem;
    box-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
    height: 50rem;
        width:115rem;
        margin-top:1rem;
}

.title{
    display:flex;
    align-items:center;
    justify-content:center
}

h1{
    font-family: 'Abril Fatface', cursive;
    color: var(--title);
    text-shadow:#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;
    z-index: 1;
    text-align: center;
    position:absolute

}

.credits{
    font-family: 'Abril Fatface', cursive;
    color: var(--tarefas);
    position: fixed;
    width: 100%;
    left: 45%;
    bottom: 1.2rem;
    
}

#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

#arrow{
    margin-left: 5rem;
    margin-top: 1rem
}

#menu{
    margin-right: 5rem;
    margin-top:1rem;
    margin-left:2rem;
}

#save{
    margin-right:2rem;
}
