
@media (min-width: 200px){
    .details{
        height: 50rem;
        width: 25rem;
    }
    
    .content{
        height: 50rem;
        width: 25rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:14rem;
        font-size:3rem;
    }

    img{
        width: 2rem;
        height: 2rem;
    }

    #arrow{
        margin-left: 3rem;
        margin-top: 1rem
    }
    
    #menu{
        margin-right: 3rem;
        margin-top:1rem;
    }
    
    #save{
        margin-right:1rem;
    }

    .credits{
        left: 30%;
        bottom: 1rem;
    }
    
    
}

@media (min-width: 300px){
    .details{
        height: 53rem;
        width: 30rem;
    }
    
    .content{
        height: 50rem;
        width: 30rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:7rem;
        font-size:3.5rem;
    }

    .credits{
        left: 35%;
        bottom: 2rem;
    }
    
    
}

@media (min-width: 350px){
    .details{
        height: 70rem;
        width: 35rem;
    }
    
    .content{
        height: 70rem;
        width: 35rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:11rem;
        font-size:3.5rem;
    }

    .credits{
        left: 35%;
        bottom: 1rem;
    }
    
    
}

@media (min-width: 360px){
    .details{
        height: 50rem;
        width: 30rem;
    }
    
    .content{
        height: 50rem;
        width: 30rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:11rem;
        font-size:3.5rem;
    }

    .credits{
        left: 35%;
        bottom: 1rem;
    }
    
    
}

@media (min-width: 370px){
    .details{
        height: 53rem;
        width: 30rem;
    }
    
    .content{
        height: 50rem;
        width: 30rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:11rem;
        font-size:3.5rem;
    }

    .credits{
        left: 35%;
        bottom: 2rem;
    }
    
    
}

@media (min-width: 390px){
    .details{
        height: 70rem;
        width: 35rem;
    }
    
    .content{
        height: 70rem;
        width: 35rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:11rem;
        font-size:4rem;
    }


    .credits{
        left: 35%;
        bottom: 1rem;
    }
    
    
}

@media (min-width: 400px){
    
    .details{
        height: 80rem;
        width: 35rem;
    }
    
    .content{
        height: 77rem;
        width: 35rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:7rem;
        font-size:4rem;
    }

    .credits{
        left: 35%;
        bottom: 1rem;
    } 
}

@media (min-width: 500px){
    
    .details{
        height: 60rem;
        width: 50rem;
    }
    
    .content{
        height: 60rem;
        width: 50rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:10rem;
        font-size:5rem;
    }

    .credits{
        left: 40%;
        bottom: .5rem;
    }
    
}

@media (min-width: 600px){
    
    .details{
        height: 80rem;
        width: 50rem;
    }
    
    .content{
        height: 80rem;
        width: 50rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:12rem;
        font-size:5rem;
    }

    .credits{
        left: 40%;
        bottom: .5rem;
    }
    
}


@media (min-width: 700px){
    
    .details{
        height: 90rem;
        width: 70rem;
    }
    
    .content{
        height: 90rem;
        width: 70rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:10rem;
        font-size:6.5rem;
    }

    .credits{
        left: 40%;
        bottom: .5rem;
    }
    
}

@media (min-width: 800px){
    
    .details{
        height: 100rem;
        width: 75rem;
    }
    
    .content{
        height: 100rem;
        width: 75rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:10rem;
        font-size:8rem;
    }

    .credits{
        left: 45%;
        bottom: 1.5rem;
    }
    
}



@media (min-width: 900px){
    
    .details{
        height: 120rem;
        width: 80rem;
    }
    
    .content{
        height: 120rem;
        width: 80rem;
        margin-top: 1rem;
    }

    h1{
        margin-top:10rem;
        font-size:8rem;
    }

    .credits{
        left: 45%;
        bottom: 1.5rem;
    }
    
}

@media (min-width: 1000px){
    .details{
        height: 53rem;
        width:115rem;
    }
    
    .content{
        height: 50rem;
        width:115rem;
        margin-top:1rem;
    }

    h1{
        margin-top:10rem;
        font-size:8rem;

    }

    .credits{
        left: 45%;
        bottom: 1.2rem;
    }
    
}

@media (min-width: 1380px){
    .details{
        height: 65rem;
        width:115rem;
    }
    
    .content{
        height: 65rem;
        width:115rem;
        margin-top:1rem;
    }

    h1{
        margin-top:10rem;
        font-size:8rem;

    }

    .credits{
        left: 45%;
        bottom: 1.2rem;
    }
    
}

@media(min-width:200px){
    #title{
        font-size:4rem;
        margin-top:3.5rem
    }

    #box{
        margin-left:1.5rem;
        margin-right:1.5rem
    }

    #resumo img{
        width:60%;
        height: 13rem;
    }

    
    #suspiria img{
        width:100%;
        height:8rem
    }

    #box-suspiria{
        width:17.5rem;
        height:18rem;
    }

    #box-suspiria a{
        font-size:2rem;
    }

    .imagens{
        left:50%;
        top:55%;
        transform:translate(-50%, -55%);
        
    }
}

@media(min-width:600px){
    #suspiria img{
        width:100%;
        height:17rem
    }

    #box-suspiria{
        width:37rem;
        height:23rem;
    }

    #box-suspiria a{
        font-size:4rem;
    }

    .imagens{
        left:50%;
        top:55%;
        transform:translate(-50%, -55%);
        
    }

    #box-suspiria h3{
        font-family:Arial,sans-serif;
        font-family: 'Zilla Slab', serif;
        font-size:1.5rem;
        margin-left:1rem;
        color:rgb(31, 30, 30)
    }

    #box-suspiria h3{
        font-size:2.5rem;
    }
}

@media(min-width:1000px){
    #title{
        font-size:8rem;
        margin-top:3.5rem
    }

    #box{
        margin-left:10rem;
        margin-right:10rem
    }

    #resumo img{
        width:50%;
        height: 25rem;
    
    }
    
    #suspiria img{
        width:100%;
        height:14.65rem
    }

    #box-suspiria{
        width:32.1rem;
        height:28rem;
    }

    #box-suspiria a{
        font-size:3rem;
    }

    .imagens{
        left:15%;
        top:55%;
        transform:translate(-15%, -55%);
        
    }

    #box-suspiria h3{
        font-size:1.5rem;
    }
}
